@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.login-content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #0D93F6, #6C90AC, #0E5B8B);
}

.frame {
    display: flex;
    width: fit-content;
    margin: auto;
    position: relative;
    top: 25vh;
}

.frame img{
    
    /* position: fixed;  */
    z-index: 2;
    height: 367px;
    margin-right: -18px;
    margin-top: -4px;
}

.frame-login {
    width: 270px;
    height: 40%;
    background-color: #E9F1F7;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 56px;
}

.frame-login > .logo {
    display: flex;
    justify-content: space-around;
}

.logo > .left > img {
    width: 55px;
    height: 65px;
}

.logo > .right {
    display: grid;
}

.logo > .right > span:nth-child(1) {
    font-size: 30px;
    text-align: center;
}

.logo > .right > span:nth-child(2) {
    font-size: 16px;
    text-align: center;
}

.form-login {
    display: grid;
    margin-top: 10px;
}

.form-login > input {
    height: 25px;
    margin-bottom: 17px;
    border-color: #6C90AC;
    border-style: solid;
    border-radius: 3px;
}

.form-login > button {
    margin: auto;
    width: 132px;
    background-color: #007BFF;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px 0;
    border-style: none;
}